# Lab 2

# q1

In [4]:
my_name = "Jacob Puterio"
print(my_name)

Jacob Puterio

# q2

In [6]:
my_id = 724
print(my_id)

724

# q3

In [49]:
my_id_str = "724"
print(my_id_str)

724

# q4

my_name + my_id cannot be done because you cannot ad a string to an integer. Result is an error code

# q5

In [57]:
print(my_name + my_id_str)

Jacob Puterio724

my_name + my_id_str runs successfully as both are entered as strings, result is 'Jacob Puterio724'

# q6

In [13]:
"Hello, world. This is my first python string"

'Hello, world. This is my first python string'

In [16]:
print('Hello, world. This is my first python string'.split('.'))

['Hello, world', ' This is my first python string']

# q7

In [26]:
str_list = ['a', 'c', 'd', 'b', 'e']
print(str_list)

['a', 'c', 'd', 'b', 'e']

In [28]:
str_list.sort()
print(str_list)

['a', 'b', 'c', 'd', 'e']

The List is able to be sorted when each letter in the list is an individual string, result is acdbe to abcde

# q8

In [47]:
str_list.append('f')
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [48]:
str_list.remove('d')
print(str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [51]:
print(str_list[2])

c

# q11

In [53]:
num_list = [12, 32, 43, 35]
print(num_list)

[12, 32, 43, 35]

In [56]:
print(str_list + num_list)

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

# q12

In [71]:
my_dict = {'name':'Jacob','id': my_id}
print(my_dict)

{'name': 'Jacob', 'id': 724}

# q13

In [72]:
my_dict['name'] = 'Puterio'
print(my_dict)

{'name': 'Puterio', 'id': 724}

# q14

In [73]:
print(my_dict['id'])

724

# q15

In [74]:
my_dict['id'] = '175'
print(my_dict)

{'name': 'Puterio', 'id': '175'}

# q16

In [77]:
my_dict['num_list'] = num_list
print(my_dict)

{'name': 'Puterio', 'id': '175', 'num_list': [12, 32, 43, 35]}

it adds the numlist onto the end of mydict

# q17

In [79]:
num_list.sort()
print(num_list[3])

43

In [80]:
print(num_list[0])

12